apiVersion: v1
kind: ConfigMap
metadata:
  name: employee-config
data:
  application.yml: |
    spring:
      application:
        name: employee-service
      profiles:
        active: dev
    server:
      port: 8080
    logging:
      level:
        root: DEBUG
